<html>
<head>
  <meta charset="UTF-8">
  <title>photos index</title>
</head>
<body>
<h2 id="photo-display">Here are your photos:</h2> <br>
<% @photos.each do |photo| %>

Emotion: <%= photo.emotion %> <br>
Geolocation: <%= photo.geolocation %> <br>
Season: <%= photo.season %> <br>
Photo data: <%= photo.photo_data %> <br>
Uploaded Photo: <img src=<%= photo.uploaded_photo %> width="400" height="250"> > <br>
<br>

<% end %>
<%= link_to 'Back', home_index_path %>
</body>
</html>